@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --breakpoint-xs: 23.4375rem; /* 375px */
  --breakpoint-2xl: 50.625rem; /* 810px */
  --breakpoint-3xl: 75rem; /* 1200px */
}
@layer base {
  html {
    @apply bg-white dark:bg-black;
  }
  body {
    @apply bg-white dark:bg-black;
  }
}
:root {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}

html,
body {
  font-family: "Pretendard", sans-serif;
}
